
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #40514E;
}

h1 {
  margin: 125px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 6.5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding: 10px;
}

#sub-header {
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 15px;
  width: 20%;
  color: #a6e3e9;
  margin: 100px auto 100px auto;
}

p {
  line-height: 1.5;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 40%;
  margin: 0 auto;
}

.profile {
  margin-bottom: 50px;
}
.mountain {
  width: 45%;
}
.top-cloud {
  position: absolute;
  width: 15%;
  top: 50px;
  right: 300px;

}
.bottom-cloud {
  position: absolute;
  width: 15%;
  bottom: 45%;
  left: 15%;
}
.top-container {
  background-color: #e0fcff;
  position: relative;
  padding-top: 50px;
}

.skill-row {
  width: 50%;
  margin: 80px auto;
  text-align: left;
}

.dsd-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.web-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  color: #11999E;
  margin: 0 30px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.footer-link:hover {
  color: #eaf6f6;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}
.contact-me {
  margin: 100px 0;
}
.middle-container {
  padding: 100px 0 100px 0;
  margin: 50px;
}

.bottom-container {
  background-color: #71c9ce;
  padding: 50px 0 20px;
}

.copyright {
  margin-top: 50px;
  color: #EAF6F6;
  font-size: 0.75rem;
  
}

.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
